.container{
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 50px;
    width: 500px;
}
h4{
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    padding: 30px;
}
input{
    margin: 0 20px;
    border: none;
    border-radius: 5px;
    height: 30px;
    outline: none;

}
button{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: #ffff;
    cursor: pointer;
}
p{
    padding: 10px 30px;
    text-align: justify;
}